:root {
    --color-black: #2e2e2e;
    --color-grey: #808080;
    --color-white: #d3d3d3; 
    --color-blue: #294268;}
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;     }

/* #region Title */
header {
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: var(--color-blue) ;
    color: var(--color-white);
    margin: 2%;
    height: 120px; }
header > h1 {
    background-color: transparent; }

/* #endregion Title */

/* #region Main Exercices */
section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;}
section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: 150px;
    border-top-left-radius: 150px;
    box-shadow: var(--color-blue) 0px 0px 30px;}
.exercices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    height:700px;
    background-color: rgb(219, 219, 219); }
.exercices > h2, .exercices > p, .exercices > h6 {
    text-align: center; 
    width: 80%;}
.exercices > h2 {
    color: var(--color-blue);
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 50px; }
.exercices > p {
    color: var(--color-black);
    margin-bottom: 20px;
    width: 85%; }
.exercices > div {
    margin-top: 30px; }
span {
    background-color: transparent;
    font-style: italic;
    font-weight: bold;
    color: var(--color-blue);
    cursor: pointer; }
button {
    color: var(--color-blue);
}
/* #endregion Main Exercices */

/* #region FisrtOne */

#typeResult {
    margin-top: 10px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    display: inline-block; }
.null       { color: #4e4e4e; }
.undefined  { color: #ffffff; }
.boolean    { color: #801759; }
.integer    { color: #06558a; }
.float      { color: #024739; }
.string     { color: #813502; }
.array      { color: #443b86; }
.object     { color: #09637c; }
    
/* #endregion FisrtOne */

/* #region Third */
#third > div {
    display: flex;
    gap: 40px; }
#rangeLabels {
    display: flex;
    flex-direction: column; }
#rangeInputs {
    display: flex;
    flex-direction: column; }
#result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
/* #endregion Third */

/* #region Forth */

#firstFizz, #scndFizz {
height: 50px;
text-wrap: wrap; }
#forth > div {
    display: flex;
    flex-wrap: wrap;
    max-height: 50px;
    font-size: 10px; }

/* #endregion Forth */

/* #region Epicerie */
#epicerie > span {
    margin-top: 20px;
    text-align: center;
    width: 90%; }
#epicerie > div {
    display: flex;
    width: 80%;
    margin-bottom: 30px; }
#epicerie > div > div {
    display: flex;
    flex-direction: column; }
#epicerie > div > div > input {
    margin-top: 3px;
    margin-bottom: 2.5px; }

#penduGame {
    display: flex;
    flex-direction: column;
    gap: 15px;}
#guessInput, #guessButton {
    display: none;}
#lePendu > img {
    width: 20%;
    display: none;}
#lePendu > svg {
    margin-top: 15px;
    padding-left: 80px;}
.error1, .error2, .error3, .error4, .error5, .error6, .error7, .error8 {
    visibility: hidden;
}
/* #endregion Epicerie */

/* #region Calculary */

/* #endregion */

/* #region ChiFouMi */
#ChiFouMi > #choicesChiFouMi {
    display: flex;
    gap: 30px; }
#return9 {
    font-size: 13px;
    text-align: center; }
/* #endregion ChiFouMi */


/* #region Annuaire Tel */

#phoneBook {
    display: flex;
    flex-direction: column;
    gap: 20px; }
#phoneBook > div {
    display: flex;
    align-items: center;
    gap: 10px; }
/* #endregion Epicerie */